* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: white;
  color: rgb(233, 92, 92);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px; */
}
.brand {
  display: flex;
  align-items: center;
}
.brand img {
  width: 60px;
  margin-right: 5px;
  margin-left: 100px;
}
.brand span {
  font-weight: bolder;
  font-size: 1.74rem;
}
.nav-links {
  text-decoration: none;
  color: rgb(233, 92, 92);
  margin-right: 15px;
}
.btn {
  padding: 10px 20px;
  background-color: rgb(233, 92, 92);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  margin-right: 60px;
}
.main-container {
  padding: 25px;
}
.section {
  padding: 20px;
  margin-top: 60px;
}
.panel {
  display: flex;
  height: 400px;
  /* margin-top: 25px; */
  width: 100%;
}
.panel-box1 {
  flex: 1;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.panel-box1 img {
  width: 1022px;
  height: 714px;
  margin-top: 220px;
  margin-left: 95px;
}
.panel-box2 {
  flex: 1;
  padding: 25px;
  /* background-color: yellow; */
  width: 50%;
}
.panel-box2 h1 {
  font-size: 60px;
  font-family: "Georgia", "serif";
  font-weight: bolder;
}
.panel-box2 h3 {
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  font-family: math;
}
.panel-box2 input {
  padding: 8px 15px;
  background-color: rgb(233, 92, 92);
  color: white;
  border: none;
  border-radius: 5px;
}
input[type="submit"] {
  margin-left: 200px;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Georgia", "serif";
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(233, 92, 92);
}
.outputArea {
  width: 100%;
}
.outputArea img {
  width: 40%;
  padding: 10px;
  display: flex;
}
